/* Write your CSS here */
.tab-item {
  margin: 0 10px;
}

.tab-button {
  background-color: #e2e8f0;
  color: #475569;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  outline: none;
  font-size: 14px;
}

.tab-button:hover {
  background-color: #cbd5e1;
}

.active-tab {
  background-color: #2563eb;
  color: #ffffff;
}
